@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black !important;
}
::-webkit-scrollbar {
  display: none;
}
@media (max-width: 600px) {
  .hide-on-small {
    display: none;
  }
}
